html {
  box-sizing: border-box;
  font-family: Georgia, serif;
  line-height: 1.5;
  text-align: center;
}

*, *::before, *::after {
  box-sizing: inherit;
}

h1 {
  background-color: #ffe500;
  font-family: "Sigmar One", cursive;
  font-size: 3rem;
  color: #b20953;
}

.nav a {
  display: inline-block;
  padding: .5em .75em;
  background-color: #b2a212;
  border-radius: 4px;
  text-decoration: none;
  color: #fff;
  list-style-type: none;
}

.nav a:hover {
  background-color: #cc1465;
  color: #fff;
}


h2 {
  font-family: "Sigmar One", cursive;
  font-size: 1.875rem;
  color: #b20953;
}

img {
  display: block;
}

p {
  font-size: 1.125rem;
}

footer {
  background-color: #ffe500;
  font-size: .75rem;
}
